<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TblnoticeMapper">
    <!--查询系统消息-->
    <select id="findNotice" resultType="com.cykj.bean.Tblnotice">
        select * from tblnotice where receiverid = #{receiverid} and roleid = #{roleid}
        ORDER BY noticetime DESC
    </select>
    <!--清除未读消息-->
    <update id="clearNotice">
        update tblnotice set noticestate = 51 where receiverid = #{receiverid} and roleid = #{roleid}
    </update>
    <!--删除通知消息-->
    <delete id="delNotice">
        delete from tblnotice where noticeid = #{noticeid}
    </delete>

</mapper>